<h1>Editing feed</h1>

<% form_for(@feed) do |f| %>
  <%= f.error_messages %>
    <%= f.text_field :url_link %>
    <%= f.submit 'Update' %>
<% end %>

<%= link_to 'Show', @feed %> |
<%= link_to 'Back', feeds_path %>