<h1>Feeds source</h1>

<table>
  
  <% form_tag feed_path(@feeds.first), :method => 'get' do %>
    <%= text_field_tag :name, params[:name] %>
    <%= text_field_tag :keywordA, params[:keywordA] %>
    <%= text_field_tag :keywordB, params[:keywordB] %>
    <%= submit_tag 'Search', :name => nil %>
  <% end %>

<% @feeds.each do |feed| %>
  <tr>
    <td><%= feed.url_link %></td>
    <td></td>
    <td><%= link_to 'Show', feed %></td>
    <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
    <td><%= link_to 'Destroy', feed, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New feed', new_feed_path %>