<h1>Feeds source</h1>

<table>
<% @feeds.each do |feed| %>
  <tr>
    <% form_tag feed_path(feed), :method => 'get' do %>
      <td><%= text_field_tag :name, params[:name] %>
      <%= text_field_tag :keywordA, params[:keywordA] %>
      <%= text_field_tag :keywordB, params[:keywordB] %></td>
      <td><%= submit_tag 'Search', :name => nil %></td>
    <% end %>
  </tr>
  <tr>
    <td><%= feed.url_link %></td>
    <td></td>
    <td><%= link_to 'Show', feed %></td>
    <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
    <td><%= link_to 'Destroy', feed, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New feed', new_feed_path %>