<h1>Editing rss</h1>

<% form_for(@rss) do |f| %>
  <%= f.error_messages %>
  <%= f.text_field :url_link %>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @rss %> |
<%= link_to 'Back', rsses_path %>