<h1><%= @parameter.title %></h1>
<br>
<h3>Parameters</h3>

<p>Main: <%= @parameter.main %></p>

<p>Keyword A: <%= @parameter.keyword_a %></p>

<p>Keyword B: <%= @parameter.keyword_b %></p>


<%= link_to 'Edit', edit_parameter_path(@parameter) %> |
<%= link_to 'Back', parameters_path %>


